body {
    background: #F5F5F5;
    font: 14px/1.5 sans-serif;
}

.container{
    background-color: white;
}

h1, h2 {
    line-height: 1.2;
    margin: 5% 0 .5em;
    padding: 2%;
}

h1 {
    font-size: 36px;
    text-align: center;
}

h2 {
    font-size: 21px;
    margin-bottom: 1em;
}

p {
    margin: 0 0 1em 0;
}

a {
    color: #0000F0;
}

a:hover {
    text-decoration: none;
}